@charset "UTF-8";

.about
  .about__title
    font-size: 35px;
    margin: 50px 0 30px;

  .about__content
    margin: 15px 0;
    padding: 5px 0 15px;
    border-bottom: 1px dashed #999;
    line-height: 30px;
    div
      font-size: 16px;
      width: 800px;;
    div:first-child
      width: 100px;
      font-weight: bold;
    span
      color: #999;
      margin: 0 10px
