.topImage {
  margin-bottom: 550px;
  position: relative; }
  .topImage .header__image {
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    max-height: 500px;
    z-index: 2;
    left: 50%;
    margin-left: -2508px; }
  .topImage .header__image--back {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    position: fixed;
    z-index: 1; }
