.sugar li {
  background: -webkit-gradient(linear, right top, left top, from(#eecc11));
  background: -webkit-linear-gradient(right, #eecc11);
  background: -o-linear-gradient(right, #eecc11);
  background: linear-gradient(to left, #eecc11);
  border-radius: 15px; }

.sugar .myWork__image {
  position: relative; }
  .sugar .myWork__image img {
    border-radius: 0 15px 15px 0;
    position: absolute;
    cursor: pointer;
    top: -20px;
    right: -100px;
    height: 500px;
    width: 700px; }

.sugar .myWork__text {
  cursor: pointer;
  color: #fff;
  text-align: left;
  padding-top: 60px; }
  .sugar .myWork__text h1 {
    letter-spacing: 2px;
    line-height: 100px;
    padding-bottom: 10px;
    font-weight: 600; }
  .sugar .myWork__text h2 {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 70px;
    border: 3px solid #fff;
    border-radius: 10px;
    font-weight: 600; }
