.homeTop {
  background: #eaedec;
  padding: 100px 0;
  margin: 0 auto; }
  .homeTop .homeTop__mainText {
    text-align: center; }
    .homeTop .homeTop__mainText h1 {
      display: inline-block;
      font-size: 48px;
      margin-bottom: 60px; }
    .homeTop .homeTop__mainText h2 {
      font-size: 36px; }
      .homeTop .homeTop__mainText h2 li:last-child {
        color: #f5ae3e; }
