.baseconnect
  li
    background: linear-gradient(to left, #222f40, #323f50);
  .myWork__image
    position: relative
    img
      position: absolute;
      z-index: 9;
    img:nth-child(1)
      cursor: pointer;
      top: 0;
      left: -100px;
      width: 700px;
      opacity: 0.7;
    img:nth-child(2)
      cursor: pointer;
      top: 10vh;
      right: -10%;
      width: 55%;
      min-width: 600px;
  .myWork__text
    cursor: pointer;
    color: #fff;
    text-align: left;
    padding-top: 20vh;
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    h1
      letter-spacing: 3px;
      line-height: 100px;
      padding-bottom: 10px;
      font-weight: bold;
    h2
      display: inline-block
      margin-top: 30px;
      padding: 15px 70px;
      border: 3px solid #fff;
      border-radius: 10px;
  li:hover .myWork__image img:nth-child(1),
      transform: scale(1.1);
      transition-duration: 1s;

.baseconnectContents
  .baseconnectContents__header
    background: linear-gradient(to left, #121f30, #424f60);
    img
      width: 300px;
  .baseconnectContents__main
    width: 1240px;
    margin: auto;
    font-size: 20px;
    h1
      font-size: 32px;
      padding: 50px 0 30px;
