.baseconnect li {
  border-radius: 15px;
  background: -webkit-gradient(linear, right top, left top, from(#222f40), to(#323f50));
  background: -webkit-linear-gradient(right, #222f40, #323f50);
  background: -o-linear-gradient(right, #222f40, #323f50);
  background: linear-gradient(to left, #222f40, #323f50); }

.baseconnect .myWork__image {
  position: relative; }
  .baseconnect .myWork__image img {
    position: absolute;
    z-index: 9; }
  .baseconnect .myWork__image img:nth-child(1) {
    cursor: pointer;
    top: -20px;
    left: -80px;
    width: 500px;
    opacity: 0.4; }
  .baseconnect .myWork__image img:nth-child(2) {
    cursor: pointer;
    top: 30px;
    right: -10%;
    width: 55%;
    min-width: 600px; }

.baseconnect .myWork__text {
  cursor: pointer;
  color: #fff;
  text-align: left;
  padding-top: 80px; }
  .baseconnect .myWork__text h1 {
    line-height: 100px;
    padding-bottom: 10px;
    font-weight: 600; }
  .baseconnect .myWork__text h2 {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 70px;
    border: 3px solid #fff;
    border-radius: 10px;
    font-weight: 600; }

.baseconnect li:hover .myWork__image img:nth-child(1) {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.baseconnectContents .baseconnectContents__header {
  background: -webkit-gradient(linear, right top, left top, from(#121f30), to(#424f60));
  background: -webkit-linear-gradient(right, #121f30, #424f60);
  background: -o-linear-gradient(right, #121f30, #424f60);
  background: linear-gradient(to left, #121f30, #424f60); }
  .baseconnectContents .baseconnectContents__header img {
    width: 300px; }

.baseconnectContents .baseconnectContents__wrap {
  width: 800px;
  margin: auto;
  line-height: 35px; }
  .baseconnectContents .baseconnectContents__wrap h1 {
    font-size: 42px;
    padding: 50px 0 30px; }
  .baseconnectContents .baseconnectContents__wrap .baseconnectContents__image {
    padding: 30px 0; }
    .baseconnectContents .baseconnectContents__wrap .baseconnectContents__image .flex div {
      padding: 10px 210px; }
    .baseconnectContents .baseconnectContents__wrap .baseconnectContents__image .flex div:first-child {
      padding: 10px 170px; }
    .baseconnectContents .baseconnectContents__wrap .baseconnectContents__image img {
      width: 100%; }
  .baseconnectContents .baseconnectContents__wrap .baseconnectContents__title {
    padding: 30px 25px 20px;
    position: relative; }
    .baseconnectContents .baseconnectContents__wrap .baseconnectContents__title h2 {
      font-size: 20px; }
  .baseconnectContents .baseconnectContents__wrap .baseconnectContents__title:before {
    content: '';
    width: 6px;
    height: 70px;
    background-color: #00bfa5;
    display: block;
    position: absolute;
    left: 0; }
  .baseconnectContents .baseconnectContents__wrap .baseconnectContents__list ul {
    line-height: 30px;
    padding: 15px 0; }
    .baseconnectContents .baseconnectContents__wrap .baseconnectContents__list ul li:first-child {
      color: #bbb;
      padding-bottom: 5px; }
  .baseconnectContents .baseconnectContents__wrap .baseconnectContents__explain {
    padding-top: 20px; }
  .baseconnectContents .baseconnectContents__wrap .baseconnectContents__text {
    padding: 10px 0; }
