@charset "UTF-8";
.baseconnect li {
  background: -webkit-gradient(linear, right top, left top, from(#222f40), to(#323f50));
  background: -webkit-linear-gradient(right, #222f40, #323f50);
  background: -o-linear-gradient(right, #222f40, #323f50);
  background: linear-gradient(to left, #222f40, #323f50); }

.baseconnect .myWork__image {
  position: relative; }
  .baseconnect .myWork__image img {
    position: absolute;
    z-index: 9; }
  .baseconnect .myWork__image img:nth-child(1) {
    cursor: pointer;
    top: 0;
    left: -100px;
    width: 700px;
    opacity: 0.7; }
  .baseconnect .myWork__image img:nth-child(2) {
    cursor: pointer;
    top: 10vh;
    right: -10%;
    width: 55%;
    min-width: 600px; }

.baseconnect .myWork__text {
  cursor: pointer;
  color: #fff;
  text-align: left;
  padding-top: 20vh;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO"; }
  .baseconnect .myWork__text h1 {
    letter-spacing: 3px;
    line-height: 100px;
    padding-bottom: 10px;
    font-weight: bold; }
  .baseconnect .myWork__text h2 {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 70px;
    border: 3px solid #fff;
    border-radius: 10px; }

.baseconnect li:hover .myWork__image img:nth-child(1) {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }

.baseconnectContents .baseconnectContents__header {
  background: -webkit-gradient(linear, right top, left top, from(#121f30), to(#424f60));
  background: -webkit-linear-gradient(right, #121f30, #424f60);
  background: -o-linear-gradient(right, #121f30, #424f60);
  background: linear-gradient(to left, #121f30, #424f60); }
  .baseconnectContents .baseconnectContents__header img {
    width: 300px; }

.baseconnectContents .baseconnectContents__main {
  width: 1240px;
  margin: auto;
  font-size: 20px; }
  .baseconnectContents .baseconnectContents__main h1 {
    font-size: 32px;
    padding: 50px 0 30px; }
