/*------ works ----------*/
.myWorks {
  background: #ecefee;
  width: 100%;
  margin: auto; }
  .myWorks .myWork {
    cursor: pointer;
    width: 100%; }
    .myWorks .myWork li {
      width: 100%;
      height: 600px;
      padding: 50px 15%;
      margin: 30px 0 0; }
      .myWorks .myWork li h1 {
        font-size: 52px;
        letter-spacing: 3px;
        line-height: 100px;
        padding-bottom: 10px; }
      .myWorks .myWork li h2 {
        display: inline-block;
        font-size: 26px;
        margin-top: 30px;
        padding: 10px 40px;
        border: 3px solid #fff;
        border-radius: 10px;
        margin-right: 20px; }

.workContents .workContents__header {
  background: -webkit-gradient(linear, right top, left top, from(#121f30), to(#424f60));
  background: -webkit-linear-gradient(right, #121f30, #424f60);
  background: -o-linear-gradient(right, #121f30, #424f60);
  background: linear-gradient(to left, #121f30, #424f60); }
  .workContents .workContents__header img {
    width: 300px; }

.workContents .workContents__wrap {
  width: 800px;
  margin: auto;
  line-height: 35px; }
  .workContents .workContents__wrap h1 {
    font-size: 42px;
    padding: 50px 0 30px; }
  .workContents .workContents__wrap .workContents__title {
    padding: 30px 25px 20px;
    position: relative; }
    .workContents .workContents__wrap .workContents__title h2 {
      font-size: 20px; }
  .workContents .workContents__wrap .workContents__title:before {
    content: '';
    width: 6px;
    height: 70px;
    background-color: #00bfa5;
    display: block;
    position: absolute;
    left: 0; }
  .workContents .workContents__wrap .workContents__list ul {
    line-height: 30px;
    padding: 15px 0; }
    .workContents .workContents__wrap .workContents__list ul li:first-child {
      color: #bbb;
      padding-bottom: 5px; }
  .workContents .workContents__wrap .workContents__explain {
    padding-top: 20px; }
  .workContents .workContents__wrap .workContents__text {
    padding: 10px 0; }
