/*------ works ----------*/
.myWorks
  padding-bottom: 0px;

.myWork
  width: 45%;
  margin-top: 0px;
  margin: 30px auto;;
  a
    cursor: pointer;
  a:hover .myWork__image img
    opacity: 0.7;
  .myWork__title
    font-size: 20px;
    margin-bottom: 10px;
  .myWork__image
    margin: 10px auto;
  .myWork__image img
    width: 100%;
    height: 300px;
    text-align: center
  .myWork__day
    font-size: 14px;
    color: #ccc;
/*------ works ----------*/
.work__contents
  padding: 50px 0 50px;;
  .work__contents--title
    font-size: 35px
  .work__contents--term
    margin: 30px 0 10px;
  .work__contents--kinds
    ul
      li
        color: gray;
        font-size: 13px;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 7px;
        margin: 25px 10px 0;
      li:first-child
        margin-left: 0;
  .work__contents--img
    ul
      li
        margin: 20px 0;
      img
        width: 100%;
      .w-50
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      .meishi
        box-shadow: 10px 5px 5px 5px rgba(0,0,0,0.1);
    .SUTD__workshop--image
      li
        border: 2px solid #edeff1;
  .work__contents--background
    padding: 10px 0;
