@charset "UTF-8";
/*---------共有------------*/
.myIntroduce, .mySkills, .myWorks {
  padding: 10px 0 30px; }

.myIntroduce, .mySkill, .myWork {
  margin: 20px; }

.myIntroduce h2, .mySkills h2, .myWorks h2 {
  font-size: 35px;
  letter-spacing: 3px;
  margin: 20px 0 40px;
  font-weight: normal;
  width: 100%; }
  .myIntroduce h2 span, .mySkills h2 span, .myWorks h2 span {
    padding-bottom: 30px;
    border-bottom: 1px solid #00bfa5; }

/*------introduce----------*/
.myIntroduce {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

/*------skills----------*/
.mySkill {
  width: 29.2%;
  border: 10px #999;
  -webkit-box-shadow: 5px rgba(0, 0, 0, 0.1);
  box-shadow: 5px rgba(0, 0, 0, 0.1); }
  .mySkill .mySkill__title, .mySkill .mySkill__image {
    text-align: center; }
  .mySkill .mySkill__title {
    font-size: 25px; }
  .mySkill .mySkill__image {
    margin: 30px auto; }
  .mySkill .mySkill__image img {
    width: 50px;
    height: 50px; }
  .mySkill .mySkill__text {
    font-size: 14px;
    line-height: 25px; }
