/* ------skills---------- */
.mySkill {
  display: block;
  margin: 0 auto 40px;
  padding: 30px 20px 20px;
  width: 300px;
  border-top: 12px solid #00bfa5;
  -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.09);
  border-radius: 12px;
  background: #fff; }
  .mySkill .mySkill__title, .mySkill .mySkill__image {
    text-align: center; }
  .mySkill .mySkill__title {
    font-size: 25px; }
  .mySkill .mySkill__image {
    margin: 30px auto; }
  .mySkill .mySkill__image img {
    width: 80px;
    height: 80px; }
  .mySkill .mySkill__text {
    font-size: 14px;
    line-height: 25px; }

.directionSkill {
  border-top: 12px solid #3C379E; }

.programmingSkill {
  border-top: 12px solid #E6E073; }

.curiositySkill {
  border-top: 12px solid #fc534c; }
