@charset "UTF-8";
/*---------共有------------*/

.myIntroduce, .mySkills, .myBlog, .myWorks
  padding: 10px 0 40px;

.myIntroduce h2, .mySkills h2, .myBlog h2, .myWorks h2, .about h2
  font-size: 35px;
  letter-spacing: 3px;
  margin: 40px 0 40px;
  font-weight: normal;
  width: 100%;
  span
    padding-bottom: 40px;
    border-bottom: 1px solid #00bfa5;

/* ------Introduce---------- */

.myIntroduce
  animation-duration: 2s;
  .baseconnect
    a
      color: #00bfa5;
      border-bottom: 1px solid #00bfa5;
    a:hover
      color: #032e43;
      border-bottom: none;

/* ------skills---------- */
.mySkill
  display: block;
  margin: 0 auto 40px;
  padding: 20px;
  width: 300px;
  border-top: 7px solid #00bfa5;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  background: #fff;

  .mySkill__title, .mySkill__image
    text-align: center

  .mySkill__title
    font-size: 25px;

  .mySkill__image
    margin: 30px auto;

  .mySkill__image img
    width: 60px;
    height: 60px;

  .mySkill__text
    font-size: 14px;
    line-height: 25px;

.directionSkill
  border-top: 7px solid #3C379E;

.programmingSkill
  border-top: 7px solid #E6E073;

.curiositySkill
  border-top: 7px solid #fc534c;

/*------links----------*/

.home__menue
  padding: 50px;
  margin: 20px;
  width: 33%;
  text-align: center;
.home__menue:hover
    opacity: 02;
    color: #fff;
    border: 1px solid #00bfa5;
    cursor: pointer;
