@charset "UTF-8";
/* ------skills---------- */
.mySkill
  display: block;
  margin: 0 auto 40px;
  padding: 30px 20px 20px;
  width: 300px;
  border-top: 12px solid #00bfa5;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.09);
  border-radius: 12px;
  background: #fff;

  .mySkill__title, .mySkill__image
    text-align: center

  .mySkill__title
    font-size: 25px;

  .mySkill__image
    margin: 30px auto;

  .mySkill__image img
    width: 80px;
    height: 80px;

  .mySkill__text
    font-size: 14px;
    line-height: 25px;

.directionSkill
  border-top: 12px solid #3C379E;

.programmingSkill
  border-top: 12px solid #E6E073;

.curiositySkill
  border-top: 12px solid #fc534c;
