@charset "UTF-8";
/*---------共有------------*/
.myIntroduce h2, .mySkills h2, .myBlog h2, .myWorks h2, .about h2 {
  font-size: 35px;
  letter-spacing: 3px;
  margin: 40px 0 40px;
  font-weight: normal;
  width: 100%; }
  .myIntroduce h2 span, .mySkills h2 span, .myBlog h2 span, .myWorks h2 span, .about h2 span {
    padding-bottom: 40px;
    border-bottom: 1px solid #00bfa5; }

/* ------Introduce---------- */
.myIntroduce {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }
  .myIntroduce .baseconnect a {
    color: #00bfa5;
    border-bottom: 1px solid #00bfa5; }
  .myIntroduce .baseconnect a:hover {
    color: #032e43;
    border-bottom: none; }

/* ------skills---------- */
.mySkill {
  display: block;
  margin: 0 auto 40px;
  padding: 20px;
  width: 300px;
  border-top: 7px solid #00bfa5;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  background: #fff; }
  .mySkill .mySkill__title, .mySkill .mySkill__image {
    text-align: center; }
  .mySkill .mySkill__title {
    font-size: 25px; }
  .mySkill .mySkill__image {
    margin: 30px auto; }
  .mySkill .mySkill__image img {
    width: 60px;
    height: 60px; }
  .mySkill .mySkill__text {
    font-size: 14px;
    line-height: 25px; }

.directionSkill {
  border-top: 7px solid #3C379E; }

.programmingSkill {
  border-top: 7px solid #E6E073; }

.curiositySkill {
  border-top: 7px solid #fc534c; }

/*------links----------*/
.home__menue {
  padding: 50px;
  margin: 20px;
  width: 33%;
  text-align: center; }

.home__menue:hover {
  opacity: 02;
  color: #fff;
  border: 1px solid #00bfa5;
  cursor: pointer; }
