.homeTop {
  background: #eaedec;
  padding: 180px 0;
  margin: 0 auto; }
  .homeTop .homeTop__mainText {
    text-align: center; }
    .homeTop .homeTop__mainText h1 {
      display: inline-block;
      font-size: 52px;
      margin-bottom: 60px; }
    .homeTop .homeTop__mainText h2 {
      font-size: 44px;
      display: inline-block; }
      .homeTop .homeTop__mainText h2 li:last-child {
        color: #f5ae3e; }
    @media screen and (max-width: 980px) {
      .homeTop .homeTop__mainText h1 {
        font-size: 32px; }
      .homeTop .homeTop__mainText h2 {
        font-size: 20px;
        line-height: 30px;
        padding: 0 30px; } }
