.footer {
  height: 120px;
  font-size: 18px;
  line-height: 120px;
  position: relative;
  z-index: 10;
  text-align: center;
  background: #E5D98E; }
  .footer .footer__menue {
    margin: 0 auto; }
    .footer .footer__menue a {
      padding: 0 30px 0;
      cursor: pointer;
      position: relative;
      display: inline-block;
      text-decoration: none;
      font-weight: bold;
      font-size: 20px;
      color: #003778; }
    .footer .footer__menue a:hover {
      opacity: 0.7; }
