$color__baseText: #020E26;
$color__thinText: #626E82;
$color__urlText: #7A77D9;
$color__accentYellow: #F2C744;
$color__accentPink: #F2505D;
$color__background: #edeff1;

header
  z-index: 100;
  position: relative;
  .header
    left: 0;
    padding: 27px 5% 27px;
    width: 100%;
    top: 0;
    position: fixed;

    .header__menues
      margin-right: auto;
      vertical-align: middle

    .header__menue--others
      margin-left: auto;
      vertical-align: middle

    .header__menue
      font-size: 18px;
      font-weight: bold;

      a
        padding: 0 30px 0;
        cursor: pointer;
        color: $color__thinText;
        position: relative;
        display: inline-block;
        text-decoration: none

      a:hover::after
        transform: scale(1, 1);

    .currentPage
      .home
          color: $color__baseText;
      .about
          color: $color__baseText;
